body {  
    /* added padding to prevent navbar overlap. (100 based on browser inpector of size) */
    padding-top: 90px;
    vertical-align: middle;
    color: black;
    background-color: #535054;
  }
  

  
  /*  need to make box fit space */
  input {
    /*background: transparent;*/
    background-color: #97A2A2;
    border: none;
  
    /* so cursor appears */
    padding-left: 3px;
  }
  
  
  .navbar {
    background-color: #18453B;   
  
    /* pulls everything down to push up against bottom border */
    padding-bottom: 0;
    
    /* creates solid line for the bottom border  */
    border-bottom: solid;
    border-bottom-color: #97A2A2;
    width: 100%;
    text-align: center;
  }
  
  #navbar-title {
    padding: 0px;
    font-size: 30px;
    color: white;
    text-align: center;
  }
  
  #todays-date {
    padding: 2px;
    font-size: 30px;
    color: white;
    text-align: center;
  }
  
  
  /* #planner */
  #plannerContainer {
    /* provides spacing between the top and bottom nav bars and the content */
    margin-top: 20px;
    margin-bottom: 80px;
    
    /* provide spaceing around the text */
    padding: 40px;
  } 
  
  .diary-row {
    height: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 1em;
    line-height: 1.5;
    border-radius: 15px;
  }
  
  /* style container with time in it */
  .timeBox {
    background-color: linen;  
    color: black;
    height:100%;
    width: 100%;
    text-align: center;
    border-radius: 15px 0px 0px 15px;
    display: inline-block;
    font-size: 1em;
  }
  
  
  .footer {
    /* set text properties */
    background-color: #666;
    
    /* sets height of footer*/
    height: 10%;
    
    /* sets properties for footer border*/
    border-top: solid;
    border-top-color: #b6d7e2;  
    border-top-width: 8px;
  }
  
  .footer-text, .header-text {
    /* forces text across the entire screen so it has a center */
    width: 100%;
    text-align: center;
  
    font-size: 10px;
    color:linen; 
  }
  
  .row {
    height: 100px;
    border-bottom: black;
  }

  .time-div {
    background-color: #008183;
    padding-top: 20px;
  }


  /*Light green #0DB14B
  Gray #97A2A2
  Orange #F08521
  Light blue #008183
  Lighter blue #909ab7
  Gray-purple #535054
  Yellow #D1DE3F
  Pink #E8D9B5
  Pastel orange #C89A58
  Pea green #94AE4A
  Purple #6E005F
  Another orange #CB5A28*/


